.footer{
  overflow: hidden;
  color: #5f6773;
  margin-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(242,244,247,.6);
  .info-area{
    padding: 20px 0;
    border: solid #ebeef2;
    border-width: 1px 0;
    .inner{
      padding: 0 16px;
      .link-about {
    
        a{
          margin-right: 8px;
          font-size: 11px;
          &.privacy{
            font-weight: 700;
          }
        }
      }
      .link-social{
        display: flex;
        gap: 12px;
        margin-top: 12px;
        a{
        width: 32px;
        height: 32px;
        // padding: 0 5px 10px;
        &.qna{background: url(../images/quetstion_mark_icon.svg)no-repeat center/cover;}
        &.plus{background: url(../images/plus_icon.svg)no-repeat center/cover;}
        &.facebook{background: url(../images/facebook_icon.svg)no-repeat center/cover;}
        &.insta{background: url(../images/insta_icon.svg)no-repeat center/cover;}
        }
      }
    }

  }
  .inner{
    padding: 0 16px;
    .company-info-area{
      padding-top: 20px;
      font-size: 11px;
      line-height: 16px;
  
      .brand-title{
        color: #313842;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
          a{
            &::after{
              content: "";
              display: inline-block;
              width: 12px;
              height: 12px;
              margin-left: 4px;
              background: url(../images/accordion.svg) no-repeat 50%;
              background-size: 100% 100%;
              transition: .5;
            }
          }
          &.on{
            a{
              &::after{transform: rotate(180deg);}
            }
          }
        }
        
        
      
      
      }
      .hide-info{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        display: none;
        &.on{
          display: block;
        }
      }
      .info-txt{
       
      }
      .safety-center{
        margin: 20px 0;
        font-size: 12px;
        font-weight: 700;
        u{
          font-weight: normal;
          margin-left: 6px;
        }
      }
    }
    .certi-area{
      font-size: 10px;
      display: flex;
      color: #989ca1;
      align-items: center;
      gap: 5px;
      .certi-mark{
      
        width: 44px;
        height: 44px;
        display: block;
        background: url(../images/mark.png) no-repeat center / cover;
      }
      .info-certi{
        
        .fx{
          display: flex; 
          gap:10px; 
          margin-bottom: 2px;
          .txt{
            width: 80%;
          }
          
        }
    
      }
    } 
    .cs-area{
      .title{
        color: #313842;
        font-size: 15px;
        font-weight: 700;
        margin: 20px 0 8px 0;
      }
      .info{
        font-size: 11px;
        display: flex;
        gap: 10px;
        margin-top: 5px;
      }
    }
}